picture{ background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(107, 20, 9); }
        </style>
        <style>
      body {
        background-image: url("http://www.gettyimages.com/detail/1176426190");
        width:100%;
        width:device-width;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(89.2deg, rgb(0, 0, 0) 10.4%, rgb(255, 0, 0) 37.1%, rgb(255, 216, 51) 64.3%, rgb(255, 255, 255) 90.5%);

      }
      p {color:rgb(46, 2, 33); font-size:25px; text-align:center; background-color: rgba(201, 134, 134, 0.671);
; border-radius:20%; }

    .header {
        background: rgba(105, 203, 228, 0.8);
        text-align: center;
        margin: 50px 50px;
        padding: 15px;
        border-radius: 10px;
      }

      h1 {
        font-size: 52px; color:rgb(8, 8, 88);
      }

      h2 {
        font-size: 32px;
      }
      source {transform:  rotateX(29deg) rotateY(36deg) rotateZ(337deg) scale(1.61, 1.33) translate(23px, 0px);}
      
      .source2 {transform:  rotateX(30deg) rotateY(50deg) rotateZ(500deg) scale(1.62, 1.33) translate(25px, 0px);}
      .source3 {transform:  rotateX(40deg) rotateY(55deg) rotateZ(480deg) scale(2.61, 2.33) translate(30px, 0px);}
      .source4 {transform:  rotateX(44deg) rotateY(66deg) rotateZ(227deg) scale(3.61, 1.33) translate(50px, 0px);}
    image {display:grid;
        grid-template-columns: 400px 400px;
        grid-gap: 20px;
      border-radius:35%;
      padding: 0px 20px;
    border-radius: 25%;
    border: 5px solid rgb(119, 8, 8);
}
    blue {color:rgb(21, 22, 78);}
    img-fluid {margin:0 auto; text-align: center;}
    
    * {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
    border: 5px solid rgba(155, 29, 7, 0.63);
  border-radius:25%;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition:2000s;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
    transition:2000;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 15.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
footer{font-size: 18px; color: white;}
.hero-picture { width:100%; background-size:cover; }
a {
  transition: all 200ms ease;
  opacity: 1;
  color: blue;
}

a:hover {
  opacity: 0.7;
  color: red;
}


footer { text-align: center; transform:  rotateX(30deg) rotateY(33deg) rotateZ(337deg) scale(1.61, 1.33) translate(23px, 0px);} </style>


<style>*{
  margin: 0;
  padding: 0;
}
#main-box
 {
    background: url("https://media.gettyimages.com/id/157588544/photo/baltimore-inner-harbor-with-reflections-in-early-morning-panorama.jpg?s=2048x2048&w=gi&k=20&c=yaaA-kSVgrsgfk69QFQ2Y56wkeofUrZDkD7RaDD47go=") right right absolute; 
      background-size: cover;
    font-family:monospace;
    border-radius:35%
}


.bar
{
    width: 1100px;
  height: 40px;
  color: white;
    margin: 30px auto;
    
}

.bar ul 
{
  float: left;
  list-style: none;
    display: block;
    
}
.bar ul li 
{
  float: left;
  list-style: none;
  display: block;
    width: 210px;
    background-color: rgba(201, 134, 134, 0.671);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin-right: 4px;
}
ul li a {
    display: block;
    cursor:context-menu;
}
ul li a:hover
{
    display: block;
    background-color: floralwhite;
    color: steelblue;
}
.bar ul li ul li
{
    margin-bottom: 0;
    display: none;
}
.bar ul li:hover ul li 
{
    display: block;
    
}
video {border-radius: 35%;}
body {background:url ("https://www.gettyimages.com/detail/video/maryland-map-with-label-then-with-out-label-stock-footage/916945354"); }
